@model ContactManager.Models.ContactList.Contact


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create New Contact</h1>

<form method="post" asp-controller="Contact" asp-action="CreateContact">
    <div class="form-group">
        <label for="company">Company Name</label>
        <input type="text" asp-for="Company" class="form-control" id="company" placeholder="Enter company name">
    </div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" asp-for="Name" class="form-control" id="name" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="phone">Phone Number</label>
        <input type="tel" asp-for="PhoneNumber" class="form-control" id="phone" placeholder="xxx-xxx-xxxx">
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" asp-for="Email" class="form-control" id="email" placeholder="Example@email.com">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="reset" class="btn btn-danger">Reset</button>
</form>

