
@{
    ViewData["Title"] = "DeleteSuccess";
}

    <div class="card col-md-3">
        <div class="card-header">Contact Successfully Deleted</div>
        <div class="card-body">
            <a class="btn btn-light" asp-area="" asp-controller="Contact" asp-action="Index">View Contacts List</a>
        </div>

    </div>

