
@{
    ViewData["Title"] = "Success";
}

<div class="card col-3 offset-2">
    <div class="card-header">Contact Successfully Created</div>
    <div class="card-body">
        <a class="btn btn-info" style="margin-bottom:10px" asp-area="" asp-controller="Contact" asp-action="CreateContact">Create Another Contact</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Contact" asp-action="Index">View Contacts List</a>
    </div>
    
</div>

