@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">
        <h1 class="display-4">Contact Manager</h1>
        <h3>Search Existing Contacts</h3>
        <form>
            <input type="text" id="search" name="search" autocomplete="on"/>
            <input type="submit" formaction ="create this" value="Submit" />
        </form>
        
        
    </div>
