@{
    ViewData["Title"] = "Home Page";
}


    <div class="text-center">
        <h1 class="display-4">Welcome to The Contact Manager</h1>
        <h3>Search Existing Contacts</h3>
        <form>
            <input type="text" id="search" name="search" autocomplete="on"/>
            <input type="submit" formaction ="create this" value="Submit" />
        </form>
        <h3><a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Create New Contact</a></h3>
        
    </div>
